@{
    Layout = null;
}
@model WebApplication9Municipal_Billing_System.Models.Reg
@{
    ViewBag.Title = "Dashboard";
}
<!-- Link to the external JS file -->
<script src="~/js/newscript.js"></script>
<!-- Link to the external css file -->
<link rel="stylesheet" href="~/css/newstyle.css">
<h2>Dashboard</h2>
<p>Welcome to the dashboard!</p>

